#column1.stack3of4
  .stackContent
    button#sortByGroup sort by group
    button#sortBySize sort by size
    #cards(data-bind="template: 'cardsTemplate'")

#column2.stack1of4
  .stackContent
    .test(contenteditable="true", data-bind="text: test") ugo
  .stackContent
    input(data-bind="value: test")

script(type="text/x-jquery-tmpl", id="cardsTemplate")
  | {{each cards}}
  |   <div class="card card-group-${group} card-size-${size}" data-group="${group}" data-size="${size}">${name}</div>
  | {{/each}}