#column1.stack3of4
  .stackContent
    button#sortByOriginal sort by original
    button#sortByGroup sort by group
    button#sortBySize sort by size
    #cards(data-bind="isotope: currentCards, template: {name: 'cardsTemplate', foreach: currentCards}")

#column2.stack1of4
  .stackContent
    .test(contenteditable="true", data-bind="text: test") ugo
  .stackContent
    input(data-bind="value: test")

script(type="text/x-jquery-tmpl", id="cardsTemplate")
  <div class="card card-group-${group} card-size-${size} card-kind-${kind}" data-group="${group}" data-size="${size}">${name}</div>